body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

table, th, td {
  border: 1px solid #000;
}
thead{
  text-align: left;
}

th {
  padding: 10px
}

td {
  padding: 10px;
}

div {
  &.field {
    margin-bottom: 25px;
    margin-left: 25px;
  }
  &.actions {
    margin-bottom: 0;
    margin-top: 30px;

    input {
      margin-right: 5px;
    }
  }
  &.wrapper {
    max-width: 40%;

    div {
      display: inline-block;
      width: 100%;

      h1 {
        float: left;
        margin-top: 0;
      }

      a {
        float: right;
      } 
    }
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#error_explanation.green {
  border-color: #8bc34a;

  h2 {
    background-color: #8bc34a; 
  }
}

label {
  display: block;
}

.label_for_image {
  font-weight: bold;
  margin-bottom: 5px;
}

h1.title {
  margin-bottom: 25px;
}
.d-inline {
  display: inline-block;
}